body{
    font-family: Arial, Helvetica, sans-serif;
}
.MyCourse {
font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    width: 50%;
    height: 350px;
    /* background-color: ; */
    border: 1px solid lightgray;
    background-color:#F1F1F1 ;
    
}
.MyCourse p{
    margin-left: 10px;
}



.adminopenproblem {
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    width: 60%;
    height: 750px;
    /* background-color: ; */
    border: 1px solid lightgray;
    background-color:#F1F1F1 ;
}
.adminopenproblem p{
    margin-left: 40px;
}
.adminopenproblem h1{
    margin-left: 80px;
}



.MyCourse .title {
    font-size:35px;
    font-weight: bold;

}

.MyCourse .shortsummary {
    font-size: 18px;
    position: absolute;
    bottom: 230px;
   
}
.MyCourse .instructor {
    font-size: 15px;
    position: absolute;
    bottom: 210px;
    color: gray;
}
.MyCourse .rating {
    font-size: 15px;
    position: absolute;
    bottom: 180px;
}
.MyCourse .star-rating{
    font-size: 15px;
    position: absolute;
    bottom: 130px;

}
.MyCourse .subject {
    font-size: 15px;
    position: absolute;
    top: 220px;
}

#btn17 {
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.buttonProblem .button-18 {
    background-color: rgb(38, 166, 77);
    color: beige;
    margin-left: 100px;
}
.buttonProblem .button-19 {
    background-color: rgb(161, 161, 161);
    color: black;
}

.MyCourserequest .Accept {
    background-color: rgb(38, 166, 77);
    color: beige;
    margin-left: 190px;
    margin-top: 80px ;
    margin-left: 600PX;
}
.MyCourserequest .Reject  {
    background-color: rgb(161, 161, 161);
    color: black;
    margin-left: 60px;
    /* margin-bottom: 50px; */
    position: absolute;
    left: 350px;
    top: 265px;
}
.MyCourserequest {
    font-family: Arial, Helvetica, sans-serif;
        color: black;
        position: relative;
        width: 50%;
        height: 350px;
        /* background-color: ; */
        border: 1px solid lightgray;
        background-color:#F1F1F1 ;
        
    }
    .MyCourserequest .Emailrequest {
        margin-left: 255PX;
    }   
    .MyCourserequest .Courserequest {
        margin-left: 180PX;
    }   
    .MyCourserequest .Statusrequest {
        margin-left: 180PX;
    }   