
.MyCourse {
font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    width: 50%;
    height: 350px;
    /* background-color: ; */
    border: 1px solid gray;
    
}
.MyCourse p{
    margin-left: 10px;
}
.MyCourse .Title {
    font-size:35px;
    font-weight: bold;

}
.MyCourse .subject {
    font-size: 15px;
    position: absolute;
    top: 190px;
}
.MyCourse .shortsummary {
    font-size: 15px;
    position: absolute;
    bottom: 10px;
}
